--
-- PostgreSQL database dump
--

\restrict GlkWfCTKknjrA2asJz9lbJ4awLi3T69BzBkcIrpD8laG1d6JSYFvmkojIfBEgI3

-- Dumped from database version 16.15
-- Dumped by pg_dump version 16.15

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: almacen; Type: TABLE; Schema: public; Owner: dulce_bocado
--

CREATE TABLE public.almacen (
    id_almacen bigint NOT NULL,
    nombre character varying(255) NOT NULL,
    descripcion text,
    created_at timestamp(0) without time zone,
    updated_at timestamp(0) without time zone
);


ALTER TABLE public.almacen OWNER TO dulce_bocado;

--
-- Name: almacen_id_almacen_seq; Type: SEQUENCE; Schema: public; Owner: dulce_bocado
--

CREATE SEQUENCE public.almacen_id_almacen_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.almacen_id_almacen_seq OWNER TO dulce_bocado;

--
-- Name: almacen_id_almacen_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: dulce_bocado
--

ALTER SEQUENCE public.almacen_id_almacen_seq OWNED BY public.almacen.id_almacen;


--
-- Name: categoria; Type: TABLE; Schema: public; Owner: dulce_bocado
--

CREATE TABLE public.categoria (
    id_categoria bigint NOT NULL,
    nombre character varying(100) NOT NULL,
    descripcion character varying(255),
    estado boolean DEFAULT true NOT NULL,
    fecha_creacion timestamp(0) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL
);


ALTER TABLE public.categoria OWNER TO dulce_bocado;

--
-- Name: categoria_id_categoria_seq; Type: SEQUENCE; Schema: public; Owner: dulce_bocado
--

CREATE SEQUENCE public.categoria_id_categoria_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.categoria_id_categoria_seq OWNER TO dulce_bocado;

--
-- Name: categoria_id_categoria_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: dulce_bocado
--

ALTER SEQUENCE public.categoria_id_categoria_seq OWNED BY public.categoria.id_categoria;


--
-- Name: cliente; Type: TABLE; Schema: public; Owner: dulce_bocado
--

CREATE TABLE public.cliente (
    id_cliente bigint NOT NULL,
    nombre character varying(100) NOT NULL,
    apellido character varying(100),
    ci_nit character varying(25),
    telefono character varying(25),
    correo_electronico character varying(150),
    direccion character varying(255),
    observaciones text,
    estado boolean DEFAULT true NOT NULL,
    fecha_creacion timestamp(0) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    fecha_actualizacion timestamp(0) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL
);


ALTER TABLE public.cliente OWNER TO dulce_bocado;

--
-- Name: cliente_id_cliente_seq; Type: SEQUENCE; Schema: public; Owner: dulce_bocado
--

CREATE SEQUENCE public.cliente_id_cliente_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.cliente_id_cliente_seq OWNER TO dulce_bocado;

--
-- Name: cliente_id_cliente_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: dulce_bocado
--

ALTER SEQUENCE public.cliente_id_cliente_seq OWNED BY public.cliente.id_cliente;


--
-- Name: consumo_produccion; Type: TABLE; Schema: public; Owner: dulce_bocado
--

CREATE TABLE public.consumo_produccion (
    id_consumo_produccion bigint NOT NULL,
    id_produccion bigint NOT NULL,
    id_materia_prima bigint NOT NULL,
    id_almacen bigint NOT NULL,
    id_usuario bigint NOT NULL,
    cantidad_teorica numeric(12,3) NOT NULL,
    cantidad_consumida numeric(12,3) NOT NULL,
    cantidad_desperdicio numeric(12,3) DEFAULT '0'::numeric NOT NULL,
    costo_unitario numeric(12,4) NOT NULL,
    costo_total numeric(14,4) NOT NULL,
    observaciones text,
    fecha_registro timestamp(0) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    created_at timestamp(0) without time zone,
    updated_at timestamp(0) without time zone,
    CONSTRAINT chk_consumo_cantidad_real CHECK ((cantidad_consumida >= (0)::numeric)),
    CONSTRAINT chk_consumo_cantidad_teorica CHECK ((cantidad_teorica > (0)::numeric)),
    CONSTRAINT chk_consumo_costo_total CHECK ((costo_total >= (0)::numeric)),
    CONSTRAINT chk_consumo_costo_unitario CHECK ((costo_unitario >= (0)::numeric)),
    CONSTRAINT chk_consumo_desperdicio CHECK ((cantidad_desperdicio >= (0)::numeric))
);


ALTER TABLE public.consumo_produccion OWNER TO dulce_bocado;

--
-- Name: consumo_produccion_id_consumo_produccion_seq; Type: SEQUENCE; Schema: public; Owner: dulce_bocado
--

CREATE SEQUENCE public.consumo_produccion_id_consumo_produccion_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.consumo_produccion_id_consumo_produccion_seq OWNER TO dulce_bocado;

--
-- Name: consumo_produccion_id_consumo_produccion_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: dulce_bocado
--

ALTER SEQUENCE public.consumo_produccion_id_consumo_produccion_seq OWNED BY public.consumo_produccion.id_consumo_produccion;


--
-- Name: detalle_egreso; Type: TABLE; Schema: public; Owner: dulce_bocado
--

CREATE TABLE public.detalle_egreso (
    id_detalle_egreso bigint NOT NULL,
    id_egreso bigint NOT NULL,
    id_almacen bigint NOT NULL,
    id_producto_presentacion bigint,
    id_materia_prima bigint,
    cantidad numeric(12,3) NOT NULL,
    created_at timestamp(0) without time zone,
    updated_at timestamp(0) without time zone
);


ALTER TABLE public.detalle_egreso OWNER TO dulce_bocado;

--
-- Name: detalle_egreso_id_detalle_egreso_seq; Type: SEQUENCE; Schema: public; Owner: dulce_bocado
--

CREATE SEQUENCE public.detalle_egreso_id_detalle_egreso_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.detalle_egreso_id_detalle_egreso_seq OWNER TO dulce_bocado;

--
-- Name: detalle_egreso_id_detalle_egreso_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: dulce_bocado
--

ALTER SEQUENCE public.detalle_egreso_id_detalle_egreso_seq OWNED BY public.detalle_egreso.id_detalle_egreso;


--
-- Name: detalle_ingreso; Type: TABLE; Schema: public; Owner: dulce_bocado
--

CREATE TABLE public.detalle_ingreso (
    id_detalle_ingreso bigint NOT NULL,
    id_ingreso bigint NOT NULL,
    id_almacen bigint NOT NULL,
    id_producto_presentacion bigint,
    id_materia_prima bigint,
    cantidad numeric(12,3) NOT NULL,
    created_at timestamp(0) without time zone,
    updated_at timestamp(0) without time zone
);


ALTER TABLE public.detalle_ingreso OWNER TO dulce_bocado;

--
-- Name: detalle_ingreso_id_detalle_ingreso_seq; Type: SEQUENCE; Schema: public; Owner: dulce_bocado
--

CREATE SEQUENCE public.detalle_ingreso_id_detalle_ingreso_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.detalle_ingreso_id_detalle_ingreso_seq OWNER TO dulce_bocado;

--
-- Name: detalle_ingreso_id_detalle_ingreso_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: dulce_bocado
--

ALTER SEQUENCE public.detalle_ingreso_id_detalle_ingreso_seq OWNED BY public.detalle_ingreso.id_detalle_ingreso;


--
-- Name: detalle_pedido; Type: TABLE; Schema: public; Owner: dulce_bocado
--

CREATE TABLE public.detalle_pedido (
    id_detalle_pedido bigint NOT NULL,
    id_pedido bigint NOT NULL,
    id_producto_presentacion bigint NOT NULL,
    cantidad integer NOT NULL,
    precio_congelado numeric(12,2) NOT NULL,
    detalle_personalizacion text,
    costo_personalizacion numeric(12,2) DEFAULT '0'::numeric NOT NULL,
    subtotal numeric(12,2) NOT NULL,
    fecha_creacion timestamp(0) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    fecha_actualizacion timestamp(0) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    CONSTRAINT chk_detalle_pedido_cantidad CHECK ((cantidad > 0)),
    CONSTRAINT chk_detalle_pedido_personalizacion CHECK ((costo_personalizacion >= (0)::numeric)),
    CONSTRAINT chk_detalle_pedido_precio CHECK ((precio_congelado > (0)::numeric)),
    CONSTRAINT chk_detalle_pedido_subtotal CHECK ((subtotal > (0)::numeric))
);


ALTER TABLE public.detalle_pedido OWNER TO dulce_bocado;

--
-- Name: detalle_pedido_id_seq; Type: SEQUENCE; Schema: public; Owner: dulce_bocado
--

CREATE SEQUENCE public.detalle_pedido_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.detalle_pedido_id_seq OWNER TO dulce_bocado;

--
-- Name: detalle_pedido_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: dulce_bocado
--

ALTER SEQUENCE public.detalle_pedido_id_seq OWNED BY public.detalle_pedido.id_detalle_pedido;


--
-- Name: detalle_produccion; Type: TABLE; Schema: public; Owner: dulce_bocado
--

CREATE TABLE public.detalle_produccion (
    id_detalle_produccion bigint NOT NULL,
    id_produccion bigint NOT NULL,
    id_almacen bigint NOT NULL,
    cantidad_esperada integer NOT NULL,
    cantidad_producida numeric(12,3),
    created_at timestamp(0) without time zone,
    updated_at timestamp(0) without time zone
);


ALTER TABLE public.detalle_produccion OWNER TO dulce_bocado;

--
-- Name: detalle_produccion_id_detalle_produccion_seq; Type: SEQUENCE; Schema: public; Owner: dulce_bocado
--

CREATE SEQUENCE public.detalle_produccion_id_detalle_produccion_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.detalle_produccion_id_detalle_produccion_seq OWNER TO dulce_bocado;

--
-- Name: detalle_produccion_id_detalle_produccion_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: dulce_bocado
--

ALTER SEQUENCE public.detalle_produccion_id_detalle_produccion_seq OWNED BY public.detalle_produccion.id_detalle_produccion;


--
-- Name: detalle_receta; Type: TABLE; Schema: public; Owner: dulce_bocado
--

CREATE TABLE public.detalle_receta (
    id_detalle_receta bigint NOT NULL,
    id_receta bigint NOT NULL,
    id_materia_prima bigint NOT NULL,
    cantidad numeric(12,3) NOT NULL,
    fecha_creacion timestamp(0) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    fecha_actualizacion timestamp(0) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    CONSTRAINT chk_detalle_receta_cantidad CHECK ((cantidad > (0)::numeric))
);


ALTER TABLE public.detalle_receta OWNER TO dulce_bocado;

--
-- Name: detalle_receta_id_detalle_receta_seq; Type: SEQUENCE; Schema: public; Owner: dulce_bocado
--

CREATE SEQUENCE public.detalle_receta_id_detalle_receta_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.detalle_receta_id_detalle_receta_seq OWNER TO dulce_bocado;

--
-- Name: detalle_receta_id_detalle_receta_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: dulce_bocado
--

ALTER SEQUENCE public.detalle_receta_id_detalle_receta_seq OWNED BY public.detalle_receta.id_detalle_receta;


--
-- Name: detalle_venta; Type: TABLE; Schema: public; Owner: dulce_bocado
--

CREATE TABLE public.detalle_venta (
    id_detalle_venta bigint NOT NULL,
    id_venta bigint NOT NULL,
    id_producto_presentacion bigint NOT NULL,
    cantidad integer NOT NULL,
    precio_unitario numeric(12,2) NOT NULL,
    costo_personalizacion numeric(12,2) DEFAULT '0'::numeric NOT NULL,
    detalle_personalizacion text,
    subtotal numeric(12,2) NOT NULL,
    fecha_creacion timestamp(0) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    fecha_actualizacion timestamp(0) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    CONSTRAINT chk_detalle_venta_cantidad CHECK ((cantidad > 0)),
    CONSTRAINT chk_detalle_venta_personalizacion CHECK ((costo_personalizacion >= (0)::numeric)),
    CONSTRAINT chk_detalle_venta_precio CHECK ((precio_unitario > (0)::numeric)),
    CONSTRAINT chk_detalle_venta_subtotal CHECK ((subtotal > (0)::numeric))
);


ALTER TABLE public.detalle_venta OWNER TO dulce_bocado;

--
-- Name: detalle_venta_id_detalle_venta_seq; Type: SEQUENCE; Schema: public; Owner: dulce_bocado
--

CREATE SEQUENCE public.detalle_venta_id_detalle_venta_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.detalle_venta_id_detalle_venta_seq OWNER TO dulce_bocado;

--
-- Name: detalle_venta_id_detalle_venta_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: dulce_bocado
--

ALTER SEQUENCE public.detalle_venta_id_detalle_venta_seq OWNED BY public.detalle_venta.id_detalle_venta;


--
-- Name: egreso; Type: TABLE; Schema: public; Owner: dulce_bocado
--

CREATE TABLE public.egreso (
    id_egreso bigint NOT NULL,
    fecha_egreso timestamp(0) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    glosa character varying(255) NOT NULL,
    id_usuario bigint NOT NULL,
    created_at timestamp(0) without time zone,
    updated_at timestamp(0) without time zone
);


ALTER TABLE public.egreso OWNER TO dulce_bocado;

--
-- Name: egreso_id_egreso_seq; Type: SEQUENCE; Schema: public; Owner: dulce_bocado
--

CREATE SEQUENCE public.egreso_id_egreso_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.egreso_id_egreso_seq OWNER TO dulce_bocado;

--
-- Name: egreso_id_egreso_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: dulce_bocado
--

ALTER SEQUENCE public.egreso_id_egreso_seq OWNED BY public.egreso.id_egreso;


--
-- Name: ingreso; Type: TABLE; Schema: public; Owner: dulce_bocado
--

CREATE TABLE public.ingreso (
    id_ingreso bigint NOT NULL,
    fecha_ingreso timestamp(0) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    glosa character varying(255) NOT NULL,
    id_usuario bigint NOT NULL,
    created_at timestamp(0) without time zone,
    updated_at timestamp(0) without time zone
);


ALTER TABLE public.ingreso OWNER TO dulce_bocado;

--
-- Name: ingreso_id_ingreso_seq; Type: SEQUENCE; Schema: public; Owner: dulce_bocado
--

CREATE SEQUENCE public.ingreso_id_ingreso_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.ingreso_id_ingreso_seq OWNER TO dulce_bocado;

--
-- Name: ingreso_id_ingreso_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: dulce_bocado
--

ALTER SEQUENCE public.ingreso_id_ingreso_seq OWNED BY public.ingreso.id_ingreso;


--
-- Name: inventario; Type: TABLE; Schema: public; Owner: dulce_bocado
--

CREATE TABLE public.inventario (
    id_inventario bigint NOT NULL,
    id_almacen bigint NOT NULL,
    id_producto_presentacion bigint,
    id_materia_prima bigint,
    cantidad numeric(12,3) DEFAULT '0'::numeric NOT NULL,
    ultima_actualizacion timestamp(0) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    created_at timestamp(0) without time zone,
    updated_at timestamp(0) without time zone
);


ALTER TABLE public.inventario OWNER TO dulce_bocado;

--
-- Name: inventario_id_inventario_seq; Type: SEQUENCE; Schema: public; Owner: dulce_bocado
--

CREATE SEQUENCE public.inventario_id_inventario_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.inventario_id_inventario_seq OWNER TO dulce_bocado;

--
-- Name: inventario_id_inventario_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: dulce_bocado
--

ALTER SEQUENCE public.inventario_id_inventario_seq OWNED BY public.inventario.id_inventario;


--
-- Name: materia_prima; Type: TABLE; Schema: public; Owner: dulce_bocado
--

CREATE TABLE public.materia_prima (
    id_materia_prima bigint NOT NULL,
    nombre character varying(100) NOT NULL,
    unidad_medida character varying(20) NOT NULL,
    descripcion text,
    estado boolean DEFAULT true NOT NULL,
    fecha_creacion timestamp(0) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    fecha_actualizacion timestamp(0) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    costo_unitario numeric(12,4) DEFAULT '0'::numeric NOT NULL,
    CONSTRAINT chk_materia_prima_costo_unitario CHECK ((costo_unitario >= (0)::numeric))
);


ALTER TABLE public.materia_prima OWNER TO dulce_bocado;

--
-- Name: materia_prima_id_materia_prima_seq; Type: SEQUENCE; Schema: public; Owner: dulce_bocado
--

CREATE SEQUENCE public.materia_prima_id_materia_prima_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.materia_prima_id_materia_prima_seq OWNER TO dulce_bocado;

--
-- Name: materia_prima_id_materia_prima_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: dulce_bocado
--

ALTER SEQUENCE public.materia_prima_id_materia_prima_seq OWNED BY public.materia_prima.id_materia_prima;


--
-- Name: migrations; Type: TABLE; Schema: public; Owner: dulce_bocado
--

CREATE TABLE public.migrations (
    id integer NOT NULL,
    migration character varying(255) NOT NULL,
    batch integer NOT NULL
);


ALTER TABLE public.migrations OWNER TO dulce_bocado;

--
-- Name: migrations_id_seq; Type: SEQUENCE; Schema: public; Owner: dulce_bocado
--

CREATE SEQUENCE public.migrations_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.migrations_id_seq OWNER TO dulce_bocado;

--
-- Name: migrations_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: dulce_bocado
--

ALTER SEQUENCE public.migrations_id_seq OWNED BY public.migrations.id;


--
-- Name: pago; Type: TABLE; Schema: public; Owner: dulce_bocado
--

CREATE TABLE public.pago (
    id_pago bigint NOT NULL,
    id_venta bigint,
    id_usuario bigint NOT NULL,
    monto numeric(12,2) NOT NULL,
    metodo_pago character varying(20) NOT NULL,
    referencia character varying(150),
    estado character varying(20) DEFAULT 'REGISTRADO'::character varying NOT NULL,
    observaciones text,
    fecha_pago timestamp(0) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    id_usuario_anulacion bigint,
    motivo_anulacion character varying(500),
    fecha_anulacion timestamp(0) without time zone,
    fecha_creacion timestamp(0) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    fecha_actualizacion timestamp(0) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    id_pedido bigint,
    CONSTRAINT chk_pago_auditoria_anulacion CHECK (((((estado)::text = 'REGISTRADO'::text) AND (id_usuario_anulacion IS NULL) AND (motivo_anulacion IS NULL) AND (fecha_anulacion IS NULL)) OR (((estado)::text = 'ANULADO'::text) AND (id_usuario_anulacion IS NOT NULL) AND (motivo_anulacion IS NOT NULL) AND (fecha_anulacion IS NOT NULL)))),
    CONSTRAINT chk_pago_estado CHECK (((estado)::text = ANY ((ARRAY['REGISTRADO'::character varying, 'ANULADO'::character varying])::text[]))),
    CONSTRAINT chk_pago_metodo CHECK (((metodo_pago)::text = ANY ((ARRAY['EFECTIVO'::character varying, 'QR'::character varying, 'ONLINE'::character varying])::text[]))),
    CONSTRAINT chk_pago_monto CHECK ((monto > (0)::numeric)),
    CONSTRAINT chk_pago_origen CHECK ((((id_venta IS NOT NULL) AND (id_pedido IS NULL)) OR ((id_venta IS NULL) AND (id_pedido IS NOT NULL))))
);


ALTER TABLE public.pago OWNER TO dulce_bocado;

--
-- Name: pago_id_pago_seq; Type: SEQUENCE; Schema: public; Owner: dulce_bocado
--

CREATE SEQUENCE public.pago_id_pago_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.pago_id_pago_seq OWNER TO dulce_bocado;

--
-- Name: pago_id_pago_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: dulce_bocado
--

ALTER SEQUENCE public.pago_id_pago_seq OWNED BY public.pago.id_pago;


--
-- Name: pago_internet; Type: TABLE; Schema: public; Owner: dulce_bocado
--

CREATE TABLE public.pago_internet (
    id_pago_internet bigint NOT NULL,
    id_venta bigint NOT NULL,
    id_pago bigint,
    id_usuario bigint NOT NULL,
    monto numeric(12,2) NOT NULL,
    proveedor character varying(100) NOT NULL,
    referencia_transaccion character varying(150) NOT NULL,
    estado character varying(20) DEFAULT 'PENDIENTE'::character varying NOT NULL,
    motivo_rechazo character varying(500),
    respuesta_proveedor jsonb,
    fecha_solicitud timestamp(0) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    fecha_confirmacion timestamp(0) without time zone,
    fecha_creacion timestamp(0) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    fecha_actualizacion timestamp(0) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    token_qr character varying(64),
    fecha_vencimiento timestamp(0) without time zone,
    fecha_escaneo timestamp(0) without time zone,
    id_transaccion_libelula character varying(100),
    codigo_recaudacion character varying(100),
    qr_simple_url text,
    url_pasarela_pagos text,
    CONSTRAINT chk_pago_internet_consistencia CHECK (((((estado)::text = 'PENDIENTE'::text) AND (id_pago IS NULL) AND (fecha_confirmacion IS NULL) AND (motivo_rechazo IS NULL)) OR (((estado)::text = 'APROBADO'::text) AND (id_pago IS NOT NULL) AND (fecha_confirmacion IS NOT NULL) AND (motivo_rechazo IS NULL)) OR (((estado)::text = 'RECHAZADO'::text) AND (id_pago IS NULL) AND (fecha_confirmacion IS NOT NULL) AND (motivo_rechazo IS NOT NULL)) OR (((estado)::text = 'VENCIDO'::text) AND (id_pago IS NULL) AND (fecha_confirmacion IS NULL) AND (motivo_rechazo IS NULL)))),
    CONSTRAINT chk_pago_internet_estado CHECK (((estado)::text = ANY ((ARRAY['PENDIENTE'::character varying, 'APROBADO'::character varying, 'RECHAZADO'::character varying, 'VENCIDO'::character varying])::text[]))),
    CONSTRAINT chk_pago_internet_monto CHECK ((monto > (0)::numeric))
);


ALTER TABLE public.pago_internet OWNER TO dulce_bocado;

--
-- Name: pago_internet_id_pago_internet_seq; Type: SEQUENCE; Schema: public; Owner: dulce_bocado
--

CREATE SEQUENCE public.pago_internet_id_pago_internet_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.pago_internet_id_pago_internet_seq OWNER TO dulce_bocado;

--
-- Name: pago_internet_id_pago_internet_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: dulce_bocado
--

ALTER SEQUENCE public.pago_internet_id_pago_internet_seq OWNED BY public.pago_internet.id_pago_internet;


--
-- Name: pedido; Type: TABLE; Schema: public; Owner: dulce_bocado
--

CREATE TABLE public.pedido (
    id_pedido bigint NOT NULL,
    id_cliente bigint,
    nombre_cliente_ocasional character varying(150),
    id_usuario bigint NOT NULL,
    fecha_pedido timestamp(0) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    fecha_entrega date NOT NULL,
    hora_entrega time(0) without time zone NOT NULL,
    total numeric(12,2) DEFAULT '0'::numeric NOT NULL,
    estado character varying(20) DEFAULT 'PROGRAMADO'::character varying NOT NULL,
    observaciones text,
    fecha_creacion timestamp(0) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    fecha_actualizacion timestamp(0) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    id_usuario_entrega bigint,
    fecha_entrega_efectiva timestamp(0) without time zone,
    id_usuario_cancelacion bigint,
    motivo_cancelacion character varying(500),
    fecha_cancelacion timestamp(0) without time zone,
    CONSTRAINT chk_pedido_auditoria_estado CHECK (((((estado)::text = ANY ((ARRAY['PROGRAMADO'::character varying, 'EN_PROCESO'::character varying])::text[])) AND (id_usuario_entrega IS NULL) AND (fecha_entrega_efectiva IS NULL) AND (id_usuario_cancelacion IS NULL) AND (motivo_cancelacion IS NULL) AND (fecha_cancelacion IS NULL)) OR (((estado)::text = 'ENTREGADO'::text) AND (id_usuario_entrega IS NOT NULL) AND (fecha_entrega_efectiva IS NOT NULL) AND (id_usuario_cancelacion IS NULL) AND (motivo_cancelacion IS NULL) AND (fecha_cancelacion IS NULL)) OR (((estado)::text = 'CANCELADO'::text) AND (id_usuario_entrega IS NULL) AND (fecha_entrega_efectiva IS NULL) AND (id_usuario_cancelacion IS NOT NULL) AND (motivo_cancelacion IS NOT NULL) AND (fecha_cancelacion IS NOT NULL)))),
    CONSTRAINT chk_pedido_cliente CHECK ((((id_cliente IS NOT NULL) AND (nombre_cliente_ocasional IS NULL)) OR ((id_cliente IS NULL) AND (nombre_cliente_ocasional IS NOT NULL)))),
    CONSTRAINT chk_pedido_estado CHECK (((estado)::text = ANY ((ARRAY['PROGRAMADO'::character varying, 'EN_PROCESO'::character varying, 'ENTREGADO'::character varying, 'CANCELADO'::character varying])::text[]))),
    CONSTRAINT chk_pedido_total CHECK ((total >= (0)::numeric))
);


ALTER TABLE public.pedido OWNER TO dulce_bocado;

--
-- Name: pedido_id_pedido_seq; Type: SEQUENCE; Schema: public; Owner: dulce_bocado
--

CREATE SEQUENCE public.pedido_id_pedido_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.pedido_id_pedido_seq OWNER TO dulce_bocado;

--
-- Name: pedido_id_pedido_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: dulce_bocado
--

ALTER SEQUENCE public.pedido_id_pedido_seq OWNED BY public.pedido.id_pedido;


--
-- Name: permisos; Type: TABLE; Schema: public; Owner: dulce_bocado
--

CREATE TABLE public.permisos (
    id_permiso bigint NOT NULL,
    nombre character varying(100) NOT NULL,
    descripcion character varying(255),
    activo boolean DEFAULT true NOT NULL
);


ALTER TABLE public.permisos OWNER TO dulce_bocado;

--
-- Name: permisos_id_permiso_seq; Type: SEQUENCE; Schema: public; Owner: dulce_bocado
--

CREATE SEQUENCE public.permisos_id_permiso_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.permisos_id_permiso_seq OWNER TO dulce_bocado;

--
-- Name: permisos_id_permiso_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: dulce_bocado
--

ALTER SEQUENCE public.permisos_id_permiso_seq OWNED BY public.permisos.id_permiso;


--
-- Name: presentacion; Type: TABLE; Schema: public; Owner: dulce_bocado
--

CREATE TABLE public.presentacion (
    id_presentacion bigint NOT NULL,
    nombre character varying(150) NOT NULL,
    descripcion character varying(255),
    estado boolean DEFAULT true NOT NULL,
    fecha_creacion timestamp(0) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    fecha_actualizacion timestamp(0) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL
);


ALTER TABLE public.presentacion OWNER TO dulce_bocado;

--
-- Name: presentacion_id_presentacion_seq; Type: SEQUENCE; Schema: public; Owner: dulce_bocado
--

CREATE SEQUENCE public.presentacion_id_presentacion_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.presentacion_id_presentacion_seq OWNER TO dulce_bocado;

--
-- Name: presentacion_id_presentacion_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: dulce_bocado
--

ALTER SEQUENCE public.presentacion_id_presentacion_seq OWNED BY public.presentacion.id_presentacion;


--
-- Name: produccion; Type: TABLE; Schema: public; Owner: dulce_bocado
--

CREATE TABLE public.produccion (
    id_produccion bigint NOT NULL,
    id_producto_presentacion bigint NOT NULL,
    id_usuario bigint NOT NULL,
    fecha_produccion timestamp(0) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    estado character varying(255) DEFAULT 'PROGRAMADA'::character varying NOT NULL,
    observaciones text,
    created_at timestamp(0) without time zone,
    updated_at timestamp(0) without time zone,
    CONSTRAINT produccion_estado_check CHECK (((estado)::text = ANY ((ARRAY['PROGRAMADA'::character varying, 'EN_PROCESO'::character varying, 'COMPLETADA'::character varying, 'CANCELADA'::character varying])::text[])))
);


ALTER TABLE public.produccion OWNER TO dulce_bocado;

--
-- Name: produccion_id_produccion_seq; Type: SEQUENCE; Schema: public; Owner: dulce_bocado
--

CREATE SEQUENCE public.produccion_id_produccion_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.produccion_id_produccion_seq OWNER TO dulce_bocado;

--
-- Name: produccion_id_produccion_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: dulce_bocado
--

ALTER SEQUENCE public.produccion_id_produccion_seq OWNED BY public.produccion.id_produccion;


--
-- Name: producto; Type: TABLE; Schema: public; Owner: dulce_bocado
--

CREATE TABLE public.producto (
    id_producto bigint NOT NULL,
    id_categoria bigint NOT NULL,
    nombre character varying(150) NOT NULL,
    descripcion text,
    imagen character varying(255),
    estado boolean DEFAULT true NOT NULL,
    fecha_creacion timestamp(0) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL
);


ALTER TABLE public.producto OWNER TO dulce_bocado;

--
-- Name: producto_id_producto_seq; Type: SEQUENCE; Schema: public; Owner: dulce_bocado
--

CREATE SEQUENCE public.producto_id_producto_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.producto_id_producto_seq OWNER TO dulce_bocado;

--
-- Name: producto_id_producto_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: dulce_bocado
--

ALTER SEQUENCE public.producto_id_producto_seq OWNED BY public.producto.id_producto;


--
-- Name: producto_presentacion; Type: TABLE; Schema: public; Owner: dulce_bocado
--

CREATE TABLE public.producto_presentacion (
    id_producto bigint NOT NULL,
    id_presentacion bigint NOT NULL,
    precio numeric(10,2) NOT NULL,
    fecha_actualizacion timestamp(0) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    id_producto_presentacion bigint NOT NULL,
    permite_personalizacion boolean DEFAULT false NOT NULL,
    CONSTRAINT chk_producto_presentacion_precio CHECK ((precio > (0)::numeric))
);


ALTER TABLE public.producto_presentacion OWNER TO dulce_bocado;

--
-- Name: producto_presentacion_id_producto_presentacion_seq; Type: SEQUENCE; Schema: public; Owner: dulce_bocado
--

CREATE SEQUENCE public.producto_presentacion_id_producto_presentacion_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.producto_presentacion_id_producto_presentacion_seq OWNER TO dulce_bocado;

--
-- Name: producto_presentacion_id_producto_presentacion_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: dulce_bocado
--

ALTER SEQUENCE public.producto_presentacion_id_producto_presentacion_seq OWNED BY public.producto_presentacion.id_producto_presentacion;


--
-- Name: receta; Type: TABLE; Schema: public; Owner: dulce_bocado
--

CREATE TABLE public.receta (
    id_receta bigint NOT NULL,
    id_producto_presentacion bigint NOT NULL,
    observaciones text,
    estado boolean DEFAULT true NOT NULL,
    fecha_creacion timestamp(0) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    fecha_actualizacion timestamp(0) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL
);


ALTER TABLE public.receta OWNER TO dulce_bocado;

--
-- Name: receta_id_receta_seq; Type: SEQUENCE; Schema: public; Owner: dulce_bocado
--

CREATE SEQUENCE public.receta_id_receta_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.receta_id_receta_seq OWNER TO dulce_bocado;

--
-- Name: receta_id_receta_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: dulce_bocado
--

ALTER SEQUENCE public.receta_id_receta_seq OWNED BY public.receta.id_receta;


--
-- Name: recibo; Type: TABLE; Schema: public; Owner: dulce_bocado
--

CREATE TABLE public.recibo (
    id_recibo bigint NOT NULL,
    id_pago bigint NOT NULL,
    id_usuario_emision bigint NOT NULL,
    nombre_cliente character varying(200) NOT NULL,
    ci_nit_cliente character varying(50),
    monto numeric(12,2) NOT NULL,
    metodo_pago character varying(20) NOT NULL,
    referencia_pago character varying(150),
    fecha_pago timestamp(0) without time zone NOT NULL,
    estado character varying(20) DEFAULT 'EMITIDO'::character varying NOT NULL,
    fecha_emision timestamp(0) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    id_usuario_anulacion bigint,
    motivo_anulacion character varying(500),
    fecha_anulacion timestamp(0) without time zone,
    cantidad_impresiones integer DEFAULT 0 NOT NULL,
    id_usuario_ultima_impresion bigint,
    fecha_ultima_impresion timestamp(0) without time zone,
    fecha_creacion timestamp(0) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    fecha_actualizacion timestamp(0) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    CONSTRAINT chk_recibo_auditoria_anulacion CHECK (((((estado)::text = 'EMITIDO'::text) AND (id_usuario_anulacion IS NULL) AND (motivo_anulacion IS NULL) AND (fecha_anulacion IS NULL)) OR (((estado)::text = 'ANULADO'::text) AND (id_usuario_anulacion IS NOT NULL) AND (motivo_anulacion IS NOT NULL) AND (fecha_anulacion IS NOT NULL)))),
    CONSTRAINT chk_recibo_estado CHECK (((estado)::text = ANY ((ARRAY['EMITIDO'::character varying, 'ANULADO'::character varying])::text[]))),
    CONSTRAINT chk_recibo_impresion CHECK ((((cantidad_impresiones = 0) AND (id_usuario_ultima_impresion IS NULL) AND (fecha_ultima_impresion IS NULL)) OR ((cantidad_impresiones > 0) AND (id_usuario_ultima_impresion IS NOT NULL) AND (fecha_ultima_impresion IS NOT NULL)))),
    CONSTRAINT chk_recibo_metodo_pago CHECK (((metodo_pago)::text = ANY ((ARRAY['EFECTIVO'::character varying, 'QR'::character varying, 'ONLINE'::character varying])::text[]))),
    CONSTRAINT chk_recibo_monto CHECK ((monto > (0)::numeric))
);


ALTER TABLE public.recibo OWNER TO dulce_bocado;

--
-- Name: recibo_id_recibo_seq; Type: SEQUENCE; Schema: public; Owner: dulce_bocado
--

CREATE SEQUENCE public.recibo_id_recibo_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.recibo_id_recibo_seq OWNER TO dulce_bocado;

--
-- Name: recibo_id_recibo_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: dulce_bocado
--

ALTER SEQUENCE public.recibo_id_recibo_seq OWNED BY public.recibo.id_recibo;


--
-- Name: rol_permiso; Type: TABLE; Schema: public; Owner: dulce_bocado
--

CREATE TABLE public.rol_permiso (
    id_rol_permiso bigint NOT NULL,
    rol_id bigint NOT NULL,
    permiso_id bigint NOT NULL
);


ALTER TABLE public.rol_permiso OWNER TO dulce_bocado;

--
-- Name: rol_permiso_id_rol_permiso_seq; Type: SEQUENCE; Schema: public; Owner: dulce_bocado
--

CREATE SEQUENCE public.rol_permiso_id_rol_permiso_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.rol_permiso_id_rol_permiso_seq OWNER TO dulce_bocado;

--
-- Name: rol_permiso_id_rol_permiso_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: dulce_bocado
--

ALTER SEQUENCE public.rol_permiso_id_rol_permiso_seq OWNED BY public.rol_permiso.id_rol_permiso;


--
-- Name: roles; Type: TABLE; Schema: public; Owner: dulce_bocado
--

CREATE TABLE public.roles (
    id_rol bigint NOT NULL,
    nombre character varying(60) NOT NULL,
    descripcion character varying(255),
    activo boolean DEFAULT true NOT NULL
);


ALTER TABLE public.roles OWNER TO dulce_bocado;

--
-- Name: roles_id_rol_seq; Type: SEQUENCE; Schema: public; Owner: dulce_bocado
--

CREATE SEQUENCE public.roles_id_rol_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.roles_id_rol_seq OWNER TO dulce_bocado;

--
-- Name: roles_id_rol_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: dulce_bocado
--

ALTER SEQUENCE public.roles_id_rol_seq OWNED BY public.roles.id_rol;


--
-- Name: usuario_rol_permiso; Type: TABLE; Schema: public; Owner: dulce_bocado
--

CREATE TABLE public.usuario_rol_permiso (
    id_usuario_rol_permiso bigint NOT NULL,
    usuario_id bigint NOT NULL,
    rol_permiso_id bigint NOT NULL
);


ALTER TABLE public.usuario_rol_permiso OWNER TO dulce_bocado;

--
-- Name: usuario_rol_permiso_id_usuario_rol_permiso_seq; Type: SEQUENCE; Schema: public; Owner: dulce_bocado
--

CREATE SEQUENCE public.usuario_rol_permiso_id_usuario_rol_permiso_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.usuario_rol_permiso_id_usuario_rol_permiso_seq OWNER TO dulce_bocado;

--
-- Name: usuario_rol_permiso_id_usuario_rol_permiso_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: dulce_bocado
--

ALTER SEQUENCE public.usuario_rol_permiso_id_usuario_rol_permiso_seq OWNED BY public.usuario_rol_permiso.id_usuario_rol_permiso;


--
-- Name: usuarios; Type: TABLE; Schema: public; Owner: dulce_bocado
--

CREATE TABLE public.usuarios (
    id_usuario bigint NOT NULL,
    nombre character varying(120) NOT NULL,
    nombre_usuario character varying(80) NOT NULL,
    correo_electronico character varying(150) NOT NULL,
    contrasena character varying(255) NOT NULL,
    activo boolean DEFAULT true NOT NULL,
    intentos_fallidos integer DEFAULT 0 NOT NULL,
    bloqueado_hasta timestamp(0) without time zone,
    fecha_creacion timestamp(0) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    fecha_actualizacion timestamp(0) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    CONSTRAINT chk_usuarios_intentos_fallidos CHECK ((intentos_fallidos >= 0))
);


ALTER TABLE public.usuarios OWNER TO dulce_bocado;

--
-- Name: usuarios_id_usuario_seq; Type: SEQUENCE; Schema: public; Owner: dulce_bocado
--

CREATE SEQUENCE public.usuarios_id_usuario_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.usuarios_id_usuario_seq OWNER TO dulce_bocado;

--
-- Name: usuarios_id_usuario_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: dulce_bocado
--

ALTER SEQUENCE public.usuarios_id_usuario_seq OWNED BY public.usuarios.id_usuario;


--
-- Name: venta; Type: TABLE; Schema: public; Owner: dulce_bocado
--

CREATE TABLE public.venta (
    id_venta bigint NOT NULL,
    id_cliente bigint,
    id_usuario bigint NOT NULL,
    nombre_cliente_ocasional character varying(150),
    fecha_venta timestamp(0) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    total numeric(12,2) DEFAULT '0'::numeric NOT NULL,
    estado character varying(20) DEFAULT 'PENDIENTE_PAGO'::character varying NOT NULL,
    observaciones text,
    fecha_creacion timestamp(0) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    fecha_actualizacion timestamp(0) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    id_usuario_anulacion bigint,
    motivo_anulacion character varying(500),
    fecha_anulacion timestamp(0) without time zone,
    CONSTRAINT chk_venta_auditoria_anulacion CHECK (((((estado)::text = ANY ((ARRAY['PENDIENTE_PAGO'::character varying, 'REGISTRADA'::character varying])::text[])) AND (id_usuario_anulacion IS NULL) AND (motivo_anulacion IS NULL) AND (fecha_anulacion IS NULL)) OR (((estado)::text = 'ANULADA'::text) AND (id_usuario_anulacion IS NOT NULL) AND (motivo_anulacion IS NOT NULL) AND (fecha_anulacion IS NOT NULL)))),
    CONSTRAINT chk_venta_estado CHECK (((estado)::text = ANY ((ARRAY['PENDIENTE_PAGO'::character varying, 'REGISTRADA'::character varying, 'ANULADA'::character varying])::text[]))),
    CONSTRAINT chk_venta_total CHECK ((total >= (0)::numeric))
);


ALTER TABLE public.venta OWNER TO dulce_bocado;

--
-- Name: venta_id_venta_seq; Type: SEQUENCE; Schema: public; Owner: dulce_bocado
--

CREATE SEQUENCE public.venta_id_venta_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.venta_id_venta_seq OWNER TO dulce_bocado;

--
-- Name: venta_id_venta_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: dulce_bocado
--

ALTER SEQUENCE public.venta_id_venta_seq OWNED BY public.venta.id_venta;


--
-- Name: visita; Type: TABLE; Schema: public; Owner: dulce_bocado
--

CREATE TABLE public.visita (
    id_visita bigint NOT NULL,
    ruta character varying(255) NOT NULL,
    cantidad bigint DEFAULT '0'::bigint NOT NULL,
    fecha_creacion timestamp(0) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    fecha_actualizacion timestamp(0) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL
);


ALTER TABLE public.visita OWNER TO dulce_bocado;

--
-- Name: visita_id_visita_seq; Type: SEQUENCE; Schema: public; Owner: dulce_bocado
--

CREATE SEQUENCE public.visita_id_visita_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.visita_id_visita_seq OWNER TO dulce_bocado;

--
-- Name: visita_id_visita_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: dulce_bocado
--

ALTER SEQUENCE public.visita_id_visita_seq OWNED BY public.visita.id_visita;


--
-- Name: almacen id_almacen; Type: DEFAULT; Schema: public; Owner: dulce_bocado
--

ALTER TABLE ONLY public.almacen ALTER COLUMN id_almacen SET DEFAULT nextval('public.almacen_id_almacen_seq'::regclass);


--
-- Name: categoria id_categoria; Type: DEFAULT; Schema: public; Owner: dulce_bocado
--

ALTER TABLE ONLY public.categoria ALTER COLUMN id_categoria SET DEFAULT nextval('public.categoria_id_categoria_seq'::regclass);


--
-- Name: cliente id_cliente; Type: DEFAULT; Schema: public; Owner: dulce_bocado
--

ALTER TABLE ONLY public.cliente ALTER COLUMN id_cliente SET DEFAULT nextval('public.cliente_id_cliente_seq'::regclass);


--
-- Name: consumo_produccion id_consumo_produccion; Type: DEFAULT; Schema: public; Owner: dulce_bocado
--

ALTER TABLE ONLY public.consumo_produccion ALTER COLUMN id_consumo_produccion SET DEFAULT nextval('public.consumo_produccion_id_consumo_produccion_seq'::regclass);


--
-- Name: detalle_egreso id_detalle_egreso; Type: DEFAULT; Schema: public; Owner: dulce_bocado
--

ALTER TABLE ONLY public.detalle_egreso ALTER COLUMN id_detalle_egreso SET DEFAULT nextval('public.detalle_egreso_id_detalle_egreso_seq'::regclass);


--
-- Name: detalle_ingreso id_detalle_ingreso; Type: DEFAULT; Schema: public; Owner: dulce_bocado
--

ALTER TABLE ONLY public.detalle_ingreso ALTER COLUMN id_detalle_ingreso SET DEFAULT nextval('public.detalle_ingreso_id_detalle_ingreso_seq'::regclass);


--
-- Name: detalle_pedido id_detalle_pedido; Type: DEFAULT; Schema: public; Owner: dulce_bocado
--

ALTER TABLE ONLY public.detalle_pedido ALTER COLUMN id_detalle_pedido SET DEFAULT nextval('public.detalle_pedido_id_seq'::regclass);


--
-- Name: detalle_produccion id_detalle_produccion; Type: DEFAULT; Schema: public; Owner: dulce_bocado
--

ALTER TABLE ONLY public.detalle_produccion ALTER COLUMN id_detalle_produccion SET DEFAULT nextval('public.detalle_produccion_id_detalle_produccion_seq'::regclass);


--
-- Name: detalle_receta id_detalle_receta; Type: DEFAULT; Schema: public; Owner: dulce_bocado
--

ALTER TABLE ONLY public.detalle_receta ALTER COLUMN id_detalle_receta SET DEFAULT nextval('public.detalle_receta_id_detalle_receta_seq'::regclass);


--
-- Name: detalle_venta id_detalle_venta; Type: DEFAULT; Schema: public; Owner: dulce_bocado
--

ALTER TABLE ONLY public.detalle_venta ALTER COLUMN id_detalle_venta SET DEFAULT nextval('public.detalle_venta_id_detalle_venta_seq'::regclass);


--
-- Name: egreso id_egreso; Type: DEFAULT; Schema: public; Owner: dulce_bocado
--

ALTER TABLE ONLY public.egreso ALTER COLUMN id_egreso SET DEFAULT nextval('public.egreso_id_egreso_seq'::regclass);


--
-- Name: ingreso id_ingreso; Type: DEFAULT; Schema: public; Owner: dulce_bocado
--

ALTER TABLE ONLY public.ingreso ALTER COLUMN id_ingreso SET DEFAULT nextval('public.ingreso_id_ingreso_seq'::regclass);


--
-- Name: inventario id_inventario; Type: DEFAULT; Schema: public; Owner: dulce_bocado
--

ALTER TABLE ONLY public.inventario ALTER COLUMN id_inventario SET DEFAULT nextval('public.inventario_id_inventario_seq'::regclass);


--
-- Name: materia_prima id_materia_prima; Type: DEFAULT; Schema: public; Owner: dulce_bocado
--

ALTER TABLE ONLY public.materia_prima ALTER COLUMN id_materia_prima SET DEFAULT nextval('public.materia_prima_id_materia_prima_seq'::regclass);


--
-- Name: migrations id; Type: DEFAULT; Schema: public; Owner: dulce_bocado
--

ALTER TABLE ONLY public.migrations ALTER COLUMN id SET DEFAULT nextval('public.migrations_id_seq'::regclass);


--
-- Name: pago id_pago; Type: DEFAULT; Schema: public; Owner: dulce_bocado
--

ALTER TABLE ONLY public.pago ALTER COLUMN id_pago SET DEFAULT nextval('public.pago_id_pago_seq'::regclass);


--
-- Name: pago_internet id_pago_internet; Type: DEFAULT; Schema: public; Owner: dulce_bocado
--

ALTER TABLE ONLY public.pago_internet ALTER COLUMN id_pago_internet SET DEFAULT nextval('public.pago_internet_id_pago_internet_seq'::regclass);


--
-- Name: pedido id_pedido; Type: DEFAULT; Schema: public; Owner: dulce_bocado
--

ALTER TABLE ONLY public.pedido ALTER COLUMN id_pedido SET DEFAULT nextval('public.pedido_id_pedido_seq'::regclass);


--
-- Name: permisos id_permiso; Type: DEFAULT; Schema: public; Owner: dulce_bocado
--

ALTER TABLE ONLY public.permisos ALTER COLUMN id_permiso SET DEFAULT nextval('public.permisos_id_permiso_seq'::regclass);


--
-- Name: presentacion id_presentacion; Type: DEFAULT; Schema: public; Owner: dulce_bocado
--

ALTER TABLE ONLY public.presentacion ALTER COLUMN id_presentacion SET DEFAULT nextval('public.presentacion_id_presentacion_seq'::regclass);


--
-- Name: produccion id_produccion; Type: DEFAULT; Schema: public; Owner: dulce_bocado
--

ALTER TABLE ONLY public.produccion ALTER COLUMN id_produccion SET DEFAULT nextval('public.produccion_id_produccion_seq'::regclass);


--
-- Name: producto id_producto; Type: DEFAULT; Schema: public; Owner: dulce_bocado
--

ALTER TABLE ONLY public.producto ALTER COLUMN id_producto SET DEFAULT nextval('public.producto_id_producto_seq'::regclass);


--
-- Name: producto_presentacion id_producto_presentacion; Type: DEFAULT; Schema: public; Owner: dulce_bocado
--

ALTER TABLE ONLY public.producto_presentacion ALTER COLUMN id_producto_presentacion SET DEFAULT nextval('public.producto_presentacion_id_producto_presentacion_seq'::regclass);


--
-- Name: receta id_receta; Type: DEFAULT; Schema: public; Owner: dulce_bocado
--

ALTER TABLE ONLY public.receta ALTER COLUMN id_receta SET DEFAULT nextval('public.receta_id_receta_seq'::regclass);


--
-- Name: recibo id_recibo; Type: DEFAULT; Schema: public; Owner: dulce_bocado
--

ALTER TABLE ONLY public.recibo ALTER COLUMN id_recibo SET DEFAULT nextval('public.recibo_id_recibo_seq'::regclass);


--
-- Name: rol_permiso id_rol_permiso; Type: DEFAULT; Schema: public; Owner: dulce_bocado
--

ALTER TABLE ONLY public.rol_permiso ALTER COLUMN id_rol_permiso SET DEFAULT nextval('public.rol_permiso_id_rol_permiso_seq'::regclass);


--
-- Name: roles id_rol; Type: DEFAULT; Schema: public; Owner: dulce_bocado
--

ALTER TABLE ONLY public.roles ALTER COLUMN id_rol SET DEFAULT nextval('public.roles_id_rol_seq'::regclass);


--
-- Name: usuario_rol_permiso id_usuario_rol_permiso; Type: DEFAULT; Schema: public; Owner: dulce_bocado
--

ALTER TABLE ONLY public.usuario_rol_permiso ALTER COLUMN id_usuario_rol_permiso SET DEFAULT nextval('public.usuario_rol_permiso_id_usuario_rol_permiso_seq'::regclass);


--
-- Name: usuarios id_usuario; Type: DEFAULT; Schema: public; Owner: dulce_bocado
--

ALTER TABLE ONLY public.usuarios ALTER COLUMN id_usuario SET DEFAULT nextval('public.usuarios_id_usuario_seq'::regclass);


--
-- Name: venta id_venta; Type: DEFAULT; Schema: public; Owner: dulce_bocado
--

ALTER TABLE ONLY public.venta ALTER COLUMN id_venta SET DEFAULT nextval('public.venta_id_venta_seq'::regclass);


--
-- Name: visita id_visita; Type: DEFAULT; Schema: public; Owner: dulce_bocado
--

ALTER TABLE ONLY public.visita ALTER COLUMN id_visita SET DEFAULT nextval('public.visita_id_visita_seq'::regclass);


--
-- Data for Name: almacen; Type: TABLE DATA; Schema: public; Owner: dulce_bocado
--

COPY public.almacen (id_almacen, nombre, descripcion, created_at, updated_at) FROM stdin;
1	Materias Primas	Almac├®n principal para ingredientes puros.	2026-09-12 22:49:36	2026-09-12 22:49:36
2	Producci├│n	Almac├®n para productos en proceso y productos terminados reci├®n salidos.	2026-09-12 22:49:36	2026-09-12 22:49:36
3	Mostrador	Almac├®n f├¡sico en tienda para venta al p├║blico y entregas.	2026-09-12 22:49:36	2026-09-12 22:49:36
\.


--
-- Data for Name: categoria; Type: TABLE DATA; Schema: public; Owner: dulce_bocado
--

COPY public.categoria (id_categoria, nombre, descripcion, estado, fecha_creacion) FROM stdin;
1	Tortas	\N	t	2026-09-05 02:05:55
\.


--
-- Data for Name: cliente; Type: TABLE DATA; Schema: public; Owner: dulce_bocado
--



--
-- Data for Name: consumo_produccion; Type: TABLE DATA; Schema: public; Owner: dulce_bocado
--



--
-- Data for Name: detalle_egreso; Type: TABLE DATA; Schema: public; Owner: dulce_bocado
--

COPY public.detalle_egreso (id_detalle_egreso, id_egreso, id_almacen, id_producto_presentacion, id_materia_prima, cantidad, created_at, updated_at) FROM stdin;
6	2	1	\N	1	500.000	2026-09-12 22:58:08	2026-09-12 22:58:08
7	2	1	\N	2	250.000	2026-09-12 22:58:08	2026-09-12 22:58:08
8	2	1	\N	3	4.000	2026-09-12 22:58:08	2026-09-12 22:58:08
9	2	1	\N	4	300.000	2026-09-12 22:58:08	2026-09-12 22:58:08
10	2	1	\N	5	200.000	2026-09-12 22:58:08	2026-09-12 22:58:08
\.


--
-- Data for Name: detalle_ingreso; Type: TABLE DATA; Schema: public; Owner: dulce_bocado
--

COPY public.detalle_ingreso (id_detalle_ingreso, id_ingreso, id_almacen, id_producto_presentacion, id_materia_prima, cantidad, created_at, updated_at) FROM stdin;
1	1	2	1	\N	1.000	2026-09-12 22:58:08	2026-09-12 22:58:08
\.


--
-- Data for Name: detalle_pedido; Type: TABLE DATA; Schema: public; Owner: dulce_bocado
--

COPY public.detalle_pedido (id_detalle_pedido, id_pedido, id_producto_presentacion, cantidad, precio_congelado, detalle_personalizacion, costo_personalizacion, subtotal, fecha_creacion, fecha_actualizacion) FROM stdin;
3	3	3	2	230.00	\N	0.00	460.00	2026-09-07 20:19:07	2026-09-07 20:19:07
4	1	2	3	200.00	Mensaje actualizado: Felicidades Mar├¡a.	40.00	640.00	2026-09-07 20:19:21	2026-09-07 20:19:21
5	4	2	1	200.00	\N	0.00	200.00	2026-09-12 21:05:29	2026-09-12 21:05:29
6	19	2	1	200.00	\N	0.00	200.00	2026-09-24 20:40:14	2026-09-24 20:40:14
\.


--
-- Data for Name: detalle_produccion; Type: TABLE DATA; Schema: public; Owner: dulce_bocado
--

COPY public.detalle_produccion (id_detalle_produccion, id_produccion, id_almacen, cantidad_esperada, cantidad_producida, created_at, updated_at) FROM stdin;
1	1	1	1	1.000	2026-09-12 22:54:35	2026-09-12 22:58:08
\.


--
-- Data for Name: detalle_receta; Type: TABLE DATA; Schema: public; Owner: dulce_bocado
--

COPY public.detalle_receta (id_detalle_receta, id_receta, id_materia_prima, cantidad, fecha_creacion, fecha_actualizacion) FROM stdin;
11	1	1	500.000	2026-09-05 03:07:48	2026-09-05 03:07:48
12	1	2	250.000	2026-09-05 03:07:48	2026-09-05 03:07:48
13	1	3	4.000	2026-09-05 03:07:48	2026-09-05 03:07:48
14	1	4	300.000	2026-09-05 03:07:48	2026-09-05 03:07:48
15	1	5	200.000	2026-09-05 03:07:48	2026-09-05 03:07:48
\.


--
-- Data for Name: detalle_venta; Type: TABLE DATA; Schema: public; Owner: dulce_bocado
--



--
-- Data for Name: egreso; Type: TABLE DATA; Schema: public; Owner: dulce_bocado
--

COPY public.egreso (id_egreso, fecha_egreso, glosa, id_usuario, created_at, updated_at) FROM stdin;
2	2026-09-12 22:58:08	Consumo real producci├│n #1	1	2026-09-12 22:58:08	2026-09-12 22:58:08
\.


--
-- Data for Name: ingreso; Type: TABLE DATA; Schema: public; Owner: dulce_bocado
--

COPY public.ingreso (id_ingreso, fecha_ingreso, glosa, id_usuario, created_at, updated_at) FROM stdin;
1	2026-09-12 22:58:08	Producto terminado producci├│n #1	1	2026-09-12 22:58:08	2026-09-12 22:58:08
\.


--
-- Data for Name: inventario; Type: TABLE DATA; Schema: public; Owner: dulce_bocado
--



--
-- Data for Name: materia_prima; Type: TABLE DATA; Schema: public; Owner: dulce_bocado
--



--
-- Data for Name: migrations; Type: TABLE DATA; Schema: public; Owner: dulce_bocado
--



--
-- Data for Name: pago; Type: TABLE DATA; Schema: public; Owner: dulce_bocado
--



--
-- Data for Name: pago_internet; Type: TABLE DATA; Schema: public; Owner: dulce_bocado
--



--
-- Data for Name: pedido; Type: TABLE DATA; Schema: public; Owner: dulce_bocado
--



--
-- Data for Name: permisos; Type: TABLE DATA; Schema: public; Owner: dulce_bocado
--



--
-- Data for Name: presentacion; Type: TABLE DATA; Schema: public; Owner: dulce_bocado
--

COPY public.presentacion (id_presentacion, nombre, descripcion, estado, fecha_creacion, fecha_actualizacion) FROM stdin;
1	porcion 15	para 15 personas	t	2026-09-05 02:06:13	2026-09-05 02:06:13
2	mediana	mediana	t	2026-09-05 03:00:50	2026-09-05 03:00:50
\.


--
-- Data for Name: produccion; Type: TABLE DATA; Schema: public; Owner: dulce_bocado
--

COPY public.produccion (id_produccion, id_producto_presentacion, id_usuario, fecha_produccion, estado, observaciones, created_at, updated_at) FROM stdin;
1	1	1	2026-09-12 22:54:35	COMPLETADA	\N	2026-09-12 22:54:35	2026-09-12 22:58:08
\.


--
-- Data for Name: producto; Type: TABLE DATA; Schema: public; Owner: dulce_bocado
--

COPY public.producto (id_producto, id_categoria, nombre, descripcion, imagen, estado, fecha_creacion) FROM stdin;
1	1	Torta Negra	Tortas	\N	t	2026-09-05 02:06:17
2	1	torta prueba	holaaa	\N	t	2026-09-05 02:52:51
3	1	Torta Negra	torta negra	\N	t	2026-09-05 02:57:11
\.


--
-- Data for Name: producto_presentacion; Type: TABLE DATA; Schema: public; Owner: dulce_bocado
--

COPY public.producto_presentacion (id_producto, id_presentacion, precio, fecha_actualizacion, id_producto_presentacion, permite_personalizacion) FROM stdin;
1	1	150.00	2026-09-05 02:06:17	1	f
2	1	230.00	2026-09-05 03:01:30	3	f
3	2	200.00	2026-09-05 03:00:51	2	t
\.


--
-- Data for Name: receta; Type: TABLE DATA; Schema: public; Owner: dulce_bocado
--

COPY public.receta (id_receta, id_producto_presentacion, observaciones, estado, fecha_creacion, fecha_actualizacion) FROM stdin;
1	1	Receta base de Torta Negra.	t	2026-09-05 02:39:42	2026-09-05 03:11:45
\.


--
-- Data for Name: recibo; Type: TABLE DATA; Schema: public; Owner: dulce_bocado
--



--
-- Data for Name: rol_permiso; Type: TABLE DATA; Schema: public; Owner: dulce_bocado
--

COPY public.rol_permiso (id_rol_permiso, rol_id, permiso_id) FROM stdin;
1	1	1
2	1	2
3	1	3
4	1	4
5	1	5
8	5	7
9	1	8
10	1	9
11	2	10
12	1	10
13	3	11
14	1	11
15	2	12
16	1	12
17	2	13
18	1	13
19	2	14
20	1	14
21	2	15
22	1	15
23	2	16
24	1	16
25	2	17
26	1	17
27	3	18
28	1	18
29	3	19
30	1	19
31	3	20
32	3	21
33	1	20
34	1	21
35	1	22
36	1	23
37	1	24
38	1	25
39	1	26
40	1	27
42	6	26
43	6	14
\.


--
-- Data for Name: roles; Type: TABLE DATA; Schema: public; Owner: dulce_bocado
--

COPY public.roles (id_rol, nombre, descripcion, activo) FROM stdin;
3	Producci├│n	Rol destinado a las operaciones de producci├│n e inventario autorizadas.	t
4	Rol Prueba Actualizado	Rol actualizado para validar CU3	t
5	Externo	personal externo	t
2	Vendedor	Rol destinado a las operaciones comerciales autorizadas.	t
1	Administrador	Rol con acceso administrativo al sistema.	t
6	EnviosBoliviaJuan Pablo	\N	t
7	Juan Pablo Montoya	\N	t
\.


--
-- Data for Name: usuario_rol_permiso; Type: TABLE DATA; Schema: public; Owner: dulce_bocado
--

COPY public.usuario_rol_permiso (id_usuario_rol_permiso, usuario_id, rol_permiso_id) FROM stdin;
2	1	2
4	1	4
5	1	5
6	1	3
7	1	1
8	1	9
9	1	10
10	1	12
11	1	14
12	1	16
13	1	18
14	1	20
15	1	22
16	1	24
17	1	26
18	1	28
19	1	30
20	1	33
21	1	34
22	1	38
23	1	39
24	1	35
25	1	36
26	1	37
27	1	40
28	2	11
29	2	15
30	2	17
31	2	19
32	2	21
33	2	23
34	2	25
35	8	11
36	8	15
37	8	17
38	8	19
39	8	21
40	8	23
41	8	25
44	8	43
45	8	42
\.


--
-- Data for Name: usuarios; Type: TABLE DATA; Schema: public; Owner: dulce_bocado
--



--
-- Data for Name: venta; Type: TABLE DATA; Schema: public; Owner: dulce_bocado
--



--
-- Data for Name: visita; Type: TABLE DATA; Schema: public; Owner: dulce_bocado
--



--
-- Name: almacen_id_almacen_seq; Type: SEQUENCE SET; Schema: public; Owner: dulce_bocado
--

SELECT pg_catalog.setval('public.almacen_id_almacen_seq', 3, true);


--
-- Name: categoria_id_categoria_seq; Type: SEQUENCE SET; Schema: public; Owner: dulce_bocado
--

SELECT pg_catalog.setval('public.categoria_id_categoria_seq', 1, true);


--
-- Name: cliente_id_cliente_seq; Type: SEQUENCE SET; Schema: public; Owner: dulce_bocado
--

SELECT pg_catalog.setval('public.cliente_id_cliente_seq', 13, true);


--
-- Name: consumo_produccion_id_consumo_produccion_seq; Type: SEQUENCE SET; Schema: public; Owner: dulce_bocado
--

SELECT pg_catalog.setval('public.consumo_produccion_id_consumo_produccion_seq', 10, true);


--
-- Name: detalle_egreso_id_detalle_egreso_seq; Type: SEQUENCE SET; Schema: public; Owner: dulce_bocado
--

SELECT pg_catalog.setval('public.detalle_egreso_id_detalle_egreso_seq', 10, true);


--
-- Name: detalle_ingreso_id_detalle_ingreso_seq; Type: SEQUENCE SET; Schema: public; Owner: dulce_bocado
--

SELECT pg_catalog.setval('public.detalle_ingreso_id_detalle_ingreso_seq', 1, true);


--
-- Name: detalle_pedido_id_seq; Type: SEQUENCE SET; Schema: public; Owner: dulce_bocado
--

SELECT pg_catalog.setval('public.detalle_pedido_id_seq', 6, true);


--
-- Name: detalle_produccion_id_detalle_produccion_seq; Type: SEQUENCE SET; Schema: public; Owner: dulce_bocado
--

SELECT pg_catalog.setval('public.detalle_produccion_id_detalle_produccion_seq', 1, true);


--
-- Name: detalle_receta_id_detalle_receta_seq; Type: SEQUENCE SET; Schema: public; Owner: dulce_bocado
--

SELECT pg_catalog.setval('public.detalle_receta_id_detalle_receta_seq', 15, true);


--
-- Name: detalle_venta_id_detalle_venta_seq; Type: SEQUENCE SET; Schema: public; Owner: dulce_bocado
--

SELECT pg_catalog.setval('public.detalle_venta_id_detalle_venta_seq', 24, true);


--
-- Name: egreso_id_egreso_seq; Type: SEQUENCE SET; Schema: public; Owner: dulce_bocado
--

SELECT pg_catalog.setval('public.egreso_id_egreso_seq', 2, true);


--
-- Name: ingreso_id_ingreso_seq; Type: SEQUENCE SET; Schema: public; Owner: dulce_bocado
--

SELECT pg_catalog.setval('public.ingreso_id_ingreso_seq', 1, true);


--
-- Name: inventario_id_inventario_seq; Type: SEQUENCE SET; Schema: public; Owner: dulce_bocado
--

SELECT pg_catalog.setval('public.inventario_id_inventario_seq', 6, true);


--
-- Name: materia_prima_id_materia_prima_seq; Type: SEQUENCE SET; Schema: public; Owner: dulce_bocado
--

SELECT pg_catalog.setval('public.materia_prima_id_materia_prima_seq', 6, true);


--
-- Name: migrations_id_seq; Type: SEQUENCE SET; Schema: public; Owner: dulce_bocado
--

SELECT pg_catalog.setval('public.migrations_id_seq', 41, true);


--
-- Name: pago_id_pago_seq; Type: SEQUENCE SET; Schema: public; Owner: dulce_bocado
--

SELECT pg_catalog.setval('public.pago_id_pago_seq', 29, true);


--
-- Name: pago_internet_id_pago_internet_seq; Type: SEQUENCE SET; Schema: public; Owner: dulce_bocado
--

SELECT pg_catalog.setval('public.pago_internet_id_pago_internet_seq', 15, true);


--
-- Name: pedido_id_pedido_seq; Type: SEQUENCE SET; Schema: public; Owner: dulce_bocado
--

SELECT pg_catalog.setval('public.pedido_id_pedido_seq', 19, true);


--
-- Name: permisos_id_permiso_seq; Type: SEQUENCE SET; Schema: public; Owner: dulce_bocado
--

SELECT pg_catalog.setval('public.permisos_id_permiso_seq', 27, true);


--
-- Name: presentacion_id_presentacion_seq; Type: SEQUENCE SET; Schema: public; Owner: dulce_bocado
--

SELECT pg_catalog.setval('public.presentacion_id_presentacion_seq', 2, true);


--
-- Name: produccion_id_produccion_seq; Type: SEQUENCE SET; Schema: public; Owner: dulce_bocado
--

SELECT pg_catalog.setval('public.produccion_id_produccion_seq', 1, true);


--
-- Name: producto_id_producto_seq; Type: SEQUENCE SET; Schema: public; Owner: dulce_bocado
--

SELECT pg_catalog.setval('public.producto_id_producto_seq', 3, true);


--
-- Name: producto_presentacion_id_producto_presentacion_seq; Type: SEQUENCE SET; Schema: public; Owner: dulce_bocado
--

SELECT pg_catalog.setval('public.producto_presentacion_id_producto_presentacion_seq', 3, true);


--
-- Name: receta_id_receta_seq; Type: SEQUENCE SET; Schema: public; Owner: dulce_bocado
--

SELECT pg_catalog.setval('public.receta_id_receta_seq', 1, true);


--
-- Name: recibo_id_recibo_seq; Type: SEQUENCE SET; Schema: public; Owner: dulce_bocado
--

SELECT pg_catalog.setval('public.recibo_id_recibo_seq', 17, true);


--
-- Name: rol_permiso_id_rol_permiso_seq; Type: SEQUENCE SET; Schema: public; Owner: dulce_bocado
--

SELECT pg_catalog.setval('public.rol_permiso_id_rol_permiso_seq', 43, true);


--
-- Name: roles_id_rol_seq; Type: SEQUENCE SET; Schema: public; Owner: dulce_bocado
--

SELECT pg_catalog.setval('public.roles_id_rol_seq', 7, true);


--
-- Name: usuario_rol_permiso_id_usuario_rol_permiso_seq; Type: SEQUENCE SET; Schema: public; Owner: dulce_bocado
--

SELECT pg_catalog.setval('public.usuario_rol_permiso_id_usuario_rol_permiso_seq', 45, true);


--
-- Name: usuarios_id_usuario_seq; Type: SEQUENCE SET; Schema: public; Owner: dulce_bocado
--

SELECT pg_catalog.setval('public.usuarios_id_usuario_seq', 8, true);


--
-- Name: venta_id_venta_seq; Type: SEQUENCE SET; Schema: public; Owner: dulce_bocado
--

SELECT pg_catalog.setval('public.venta_id_venta_seq', 20, true);


--
-- Name: visita_id_visita_seq; Type: SEQUENCE SET; Schema: public; Owner: dulce_bocado
--

SELECT pg_catalog.setval('public.visita_id_visita_seq', 25, true);


--
-- Name: almacen almacen_pkey; Type: CONSTRAINT; Schema: public; Owner: dulce_bocado
--

ALTER TABLE ONLY public.almacen
    ADD CONSTRAINT almacen_pkey PRIMARY KEY (id_almacen);


--
-- Name: categoria categoria_pkey; Type: CONSTRAINT; Schema: public; Owner: dulce_bocado
--

ALTER TABLE ONLY public.categoria
    ADD CONSTRAINT categoria_pkey PRIMARY KEY (id_categoria);


--
-- Name: cliente cliente_ci_nit_unique; Type: CONSTRAINT; Schema: public; Owner: dulce_bocado
--

ALTER TABLE ONLY public.cliente
    ADD CONSTRAINT cliente_ci_nit_unique UNIQUE (ci_nit);


--
-- Name: cliente cliente_pkey; Type: CONSTRAINT; Schema: public; Owner: dulce_bocado
--

ALTER TABLE ONLY public.cliente
    ADD CONSTRAINT cliente_pkey PRIMARY KEY (id_cliente);


--
-- Name: consumo_produccion consumo_produccion_pkey; Type: CONSTRAINT; Schema: public; Owner: dulce_bocado
--

ALTER TABLE ONLY public.consumo_produccion
    ADD CONSTRAINT consumo_produccion_pkey PRIMARY KEY (id_consumo_produccion);


--
-- Name: detalle_egreso detalle_egreso_pkey; Type: CONSTRAINT; Schema: public; Owner: dulce_bocado
--

ALTER TABLE ONLY public.detalle_egreso
    ADD CONSTRAINT detalle_egreso_pkey PRIMARY KEY (id_detalle_egreso);


--
-- Name: detalle_ingreso detalle_ingreso_pkey; Type: CONSTRAINT; Schema: public; Owner: dulce_bocado
--

ALTER TABLE ONLY public.detalle_ingreso
    ADD CONSTRAINT detalle_ingreso_pkey PRIMARY KEY (id_detalle_ingreso);


--
-- Name: detalle_pedido detalle_pedido_pkey; Type: CONSTRAINT; Schema: public; Owner: dulce_bocado
--

ALTER TABLE ONLY public.detalle_pedido
    ADD CONSTRAINT detalle_pedido_pkey PRIMARY KEY (id_detalle_pedido);


--
-- Name: detalle_produccion detalle_produccion_pkey; Type: CONSTRAINT; Schema: public; Owner: dulce_bocado
--

ALTER TABLE ONLY public.detalle_produccion
    ADD CONSTRAINT detalle_produccion_pkey PRIMARY KEY (id_detalle_produccion);


--
-- Name: detalle_receta detalle_receta_pkey; Type: CONSTRAINT; Schema: public; Owner: dulce_bocado
--

ALTER TABLE ONLY public.detalle_receta
    ADD CONSTRAINT detalle_receta_pkey PRIMARY KEY (id_detalle_receta);


--
-- Name: detalle_venta detalle_venta_pkey; Type: CONSTRAINT; Schema: public; Owner: dulce_bocado
--

ALTER TABLE ONLY public.detalle_venta
    ADD CONSTRAINT detalle_venta_pkey PRIMARY KEY (id_detalle_venta);


--
-- Name: egreso egreso_pkey; Type: CONSTRAINT; Schema: public; Owner: dulce_bocado
--

ALTER TABLE ONLY public.egreso
    ADD CONSTRAINT egreso_pkey PRIMARY KEY (id_egreso);


--
-- Name: ingreso ingreso_pkey; Type: CONSTRAINT; Schema: public; Owner: dulce_bocado
--

ALTER TABLE ONLY public.ingreso
    ADD CONSTRAINT ingreso_pkey PRIMARY KEY (id_ingreso);


--
-- Name: inventario inventario_pkey; Type: CONSTRAINT; Schema: public; Owner: dulce_bocado
--

ALTER TABLE ONLY public.inventario
    ADD CONSTRAINT inventario_pkey PRIMARY KEY (id_inventario);


--
-- Name: materia_prima materia_prima_nombre_unique; Type: CONSTRAINT; Schema: public; Owner: dulce_bocado
--

ALTER TABLE ONLY public.materia_prima
    ADD CONSTRAINT materia_prima_nombre_unique UNIQUE (nombre);


--
-- Name: materia_prima materia_prima_pkey; Type: CONSTRAINT; Schema: public; Owner: dulce_bocado
--

ALTER TABLE ONLY public.materia_prima
    ADD CONSTRAINT materia_prima_pkey PRIMARY KEY (id_materia_prima);


--
-- Name: migrations migrations_pkey; Type: CONSTRAINT; Schema: public; Owner: dulce_bocado
--

ALTER TABLE ONLY public.migrations
    ADD CONSTRAINT migrations_pkey PRIMARY KEY (id);


--
-- Name: pago_internet pago_internet_id_pago_unique; Type: CONSTRAINT; Schema: public; Owner: dulce_bocado
--

ALTER TABLE ONLY public.pago_internet
    ADD CONSTRAINT pago_internet_id_pago_unique UNIQUE (id_pago);


--
-- Name: pago_internet pago_internet_id_transaccion_libelula_unique; Type: CONSTRAINT; Schema: public; Owner: dulce_bocado
--

ALTER TABLE ONLY public.pago_internet
    ADD CONSTRAINT pago_internet_id_transaccion_libelula_unique UNIQUE (id_transaccion_libelula);


--
-- Name: pago_internet pago_internet_pkey; Type: CONSTRAINT; Schema: public; Owner: dulce_bocado
--

ALTER TABLE ONLY public.pago_internet
    ADD CONSTRAINT pago_internet_pkey PRIMARY KEY (id_pago_internet);


--
-- Name: pago_internet pago_internet_referencia_transaccion_unique; Type: CONSTRAINT; Schema: public; Owner: dulce_bocado
--

ALTER TABLE ONLY public.pago_internet
    ADD CONSTRAINT pago_internet_referencia_transaccion_unique UNIQUE (referencia_transaccion);


--
-- Name: pago_internet pago_internet_token_qr_unique; Type: CONSTRAINT; Schema: public; Owner: dulce_bocado
--

ALTER TABLE ONLY public.pago_internet
    ADD CONSTRAINT pago_internet_token_qr_unique UNIQUE (token_qr);


--
-- Name: pago pago_pkey; Type: CONSTRAINT; Schema: public; Owner: dulce_bocado
--

ALTER TABLE ONLY public.pago
    ADD CONSTRAINT pago_pkey PRIMARY KEY (id_pago);


--
-- Name: pedido pedido_pkey; Type: CONSTRAINT; Schema: public; Owner: dulce_bocado
--

ALTER TABLE ONLY public.pedido
    ADD CONSTRAINT pedido_pkey PRIMARY KEY (id_pedido);


--
-- Name: permisos permisos_nombre_unique; Type: CONSTRAINT; Schema: public; Owner: dulce_bocado
--

ALTER TABLE ONLY public.permisos
    ADD CONSTRAINT permisos_nombre_unique UNIQUE (nombre);


--
-- Name: permisos permisos_pkey; Type: CONSTRAINT; Schema: public; Owner: dulce_bocado
--

ALTER TABLE ONLY public.permisos
    ADD CONSTRAINT permisos_pkey PRIMARY KEY (id_permiso);


--
-- Name: presentacion presentacion_nombre_unique; Type: CONSTRAINT; Schema: public; Owner: dulce_bocado
--

ALTER TABLE ONLY public.presentacion
    ADD CONSTRAINT presentacion_nombre_unique UNIQUE (nombre);


--
-- Name: presentacion presentacion_pkey; Type: CONSTRAINT; Schema: public; Owner: dulce_bocado
--

ALTER TABLE ONLY public.presentacion
    ADD CONSTRAINT presentacion_pkey PRIMARY KEY (id_presentacion);


--
-- Name: produccion produccion_pkey; Type: CONSTRAINT; Schema: public; Owner: dulce_bocado
--

ALTER TABLE ONLY public.produccion
    ADD CONSTRAINT produccion_pkey PRIMARY KEY (id_produccion);


--
-- Name: producto producto_pkey; Type: CONSTRAINT; Schema: public; Owner: dulce_bocado
--

ALTER TABLE ONLY public.producto
    ADD CONSTRAINT producto_pkey PRIMARY KEY (id_producto);


--
-- Name: producto_presentacion producto_presentacion_pkey; Type: CONSTRAINT; Schema: public; Owner: dulce_bocado
--

ALTER TABLE ONLY public.producto_presentacion
    ADD CONSTRAINT producto_presentacion_pkey PRIMARY KEY (id_producto_presentacion);


--
-- Name: receta receta_pkey; Type: CONSTRAINT; Schema: public; Owner: dulce_bocado
--

ALTER TABLE ONLY public.receta
    ADD CONSTRAINT receta_pkey PRIMARY KEY (id_receta);


--
-- Name: recibo recibo_pkey; Type: CONSTRAINT; Schema: public; Owner: dulce_bocado
--

ALTER TABLE ONLY public.recibo
    ADD CONSTRAINT recibo_pkey PRIMARY KEY (id_recibo);


--
-- Name: rol_permiso rol_permiso_pkey; Type: CONSTRAINT; Schema: public; Owner: dulce_bocado
--

ALTER TABLE ONLY public.rol_permiso
    ADD CONSTRAINT rol_permiso_pkey PRIMARY KEY (id_rol_permiso);


--
-- Name: roles roles_nombre_unique; Type: CONSTRAINT; Schema: public; Owner: dulce_bocado
--

ALTER TABLE ONLY public.roles
    ADD CONSTRAINT roles_nombre_unique UNIQUE (nombre);


--
-- Name: roles roles_pkey; Type: CONSTRAINT; Schema: public; Owner: dulce_bocado
--

ALTER TABLE ONLY public.roles
    ADD CONSTRAINT roles_pkey PRIMARY KEY (id_rol);


--
-- Name: consumo_produccion uq_consumo_produccion_materia; Type: CONSTRAINT; Schema: public; Owner: dulce_bocado
--

ALTER TABLE ONLY public.consumo_produccion
    ADD CONSTRAINT uq_consumo_produccion_materia UNIQUE (id_produccion, id_materia_prima);


--
-- Name: detalle_receta uq_detalle_receta_materia; Type: CONSTRAINT; Schema: public; Owner: dulce_bocado
--

ALTER TABLE ONLY public.detalle_receta
    ADD CONSTRAINT uq_detalle_receta_materia UNIQUE (id_receta, id_materia_prima);


--
-- Name: producto_presentacion uq_producto_presentacion; Type: CONSTRAINT; Schema: public; Owner: dulce_bocado
--

ALTER TABLE ONLY public.producto_presentacion
    ADD CONSTRAINT uq_producto_presentacion UNIQUE (id_producto, id_presentacion);


--
-- Name: receta uq_receta_producto_presentacion; Type: CONSTRAINT; Schema: public; Owner: dulce_bocado
--

ALTER TABLE ONLY public.receta
    ADD CONSTRAINT uq_receta_producto_presentacion UNIQUE (id_producto_presentacion);


--
-- Name: rol_permiso uq_rol_permiso; Type: CONSTRAINT; Schema: public; Owner: dulce_bocado
--

ALTER TABLE ONLY public.rol_permiso
    ADD CONSTRAINT uq_rol_permiso UNIQUE (rol_id, permiso_id);


--
-- Name: usuario_rol_permiso uq_usuario_rol_permiso; Type: CONSTRAINT; Schema: public; Owner: dulce_bocado
--

ALTER TABLE ONLY public.usuario_rol_permiso
    ADD CONSTRAINT uq_usuario_rol_permiso UNIQUE (usuario_id, rol_permiso_id);


--
-- Name: usuario_rol_permiso usuario_rol_permiso_pkey; Type: CONSTRAINT; Schema: public; Owner: dulce_bocado
--

ALTER TABLE ONLY public.usuario_rol_permiso
    ADD CONSTRAINT usuario_rol_permiso_pkey PRIMARY KEY (id_usuario_rol_permiso);


--
-- Name: usuarios usuarios_correo_electronico_unique; Type: CONSTRAINT; Schema: public; Owner: dulce_bocado
--

ALTER TABLE ONLY public.usuarios
    ADD CONSTRAINT usuarios_correo_electronico_unique UNIQUE (correo_electronico);


--
-- Name: usuarios usuarios_nombre_usuario_unique; Type: CONSTRAINT; Schema: public; Owner: dulce_bocado
--

ALTER TABLE ONLY public.usuarios
    ADD CONSTRAINT usuarios_nombre_usuario_unique UNIQUE (nombre_usuario);


--
-- Name: usuarios usuarios_pkey; Type: CONSTRAINT; Schema: public; Owner: dulce_bocado
--

ALTER TABLE ONLY public.usuarios
    ADD CONSTRAINT usuarios_pkey PRIMARY KEY (id_usuario);


--
-- Name: venta venta_pkey; Type: CONSTRAINT; Schema: public; Owner: dulce_bocado
--

ALTER TABLE ONLY public.venta
    ADD CONSTRAINT venta_pkey PRIMARY KEY (id_venta);


--
-- Name: visita visita_pkey; Type: CONSTRAINT; Schema: public; Owner: dulce_bocado
--

ALTER TABLE ONLY public.visita
    ADD CONSTRAINT visita_pkey PRIMARY KEY (id_visita);


--
-- Name: visita visita_ruta_unique; Type: CONSTRAINT; Schema: public; Owner: dulce_bocado
--

ALTER TABLE ONLY public.visita
    ADD CONSTRAINT visita_ruta_unique UNIQUE (ruta);


--
-- Name: uq_recibo_pago_emitido; Type: INDEX; Schema: public; Owner: dulce_bocado
--

CREATE UNIQUE INDEX uq_recibo_pago_emitido ON public.recibo USING btree (id_pago) WHERE ((estado)::text = 'EMITIDO'::text);


--
-- Name: detalle_egreso detalle_egreso_id_almacen_foreign; Type: FK CONSTRAINT; Schema: public; Owner: dulce_bocado
--

ALTER TABLE ONLY public.detalle_egreso
    ADD CONSTRAINT detalle_egreso_id_almacen_foreign FOREIGN KEY (id_almacen) REFERENCES public.almacen(id_almacen) ON DELETE RESTRICT;


--
-- Name: detalle_egreso detalle_egreso_id_egreso_foreign; Type: FK CONSTRAINT; Schema: public; Owner: dulce_bocado
--

ALTER TABLE ONLY public.detalle_egreso
    ADD CONSTRAINT detalle_egreso_id_egreso_foreign FOREIGN KEY (id_egreso) REFERENCES public.egreso(id_egreso) ON DELETE CASCADE;


--
-- Name: detalle_egreso detalle_egreso_id_materia_prima_foreign; Type: FK CONSTRAINT; Schema: public; Owner: dulce_bocado
--

ALTER TABLE ONLY public.detalle_egreso
    ADD CONSTRAINT detalle_egreso_id_materia_prima_foreign FOREIGN KEY (id_materia_prima) REFERENCES public.materia_prima(id_materia_prima) ON DELETE RESTRICT;


--
-- Name: detalle_egreso detalle_egreso_id_producto_presentacion_foreign; Type: FK CONSTRAINT; Schema: public; Owner: dulce_bocado
--

ALTER TABLE ONLY public.detalle_egreso
    ADD CONSTRAINT detalle_egreso_id_producto_presentacion_foreign FOREIGN KEY (id_producto_presentacion) REFERENCES public.producto_presentacion(id_producto_presentacion) ON DELETE RESTRICT;


--
-- Name: detalle_ingreso detalle_ingreso_id_almacen_foreign; Type: FK CONSTRAINT; Schema: public; Owner: dulce_bocado
--

ALTER TABLE ONLY public.detalle_ingreso
    ADD CONSTRAINT detalle_ingreso_id_almacen_foreign FOREIGN KEY (id_almacen) REFERENCES public.almacen(id_almacen) ON DELETE RESTRICT;


--
-- Name: detalle_ingreso detalle_ingreso_id_ingreso_foreign; Type: FK CONSTRAINT; Schema: public; Owner: dulce_bocado
--

ALTER TABLE ONLY public.detalle_ingreso
    ADD CONSTRAINT detalle_ingreso_id_ingreso_foreign FOREIGN KEY (id_ingreso) REFERENCES public.ingreso(id_ingreso) ON DELETE CASCADE;


--
-- Name: detalle_ingreso detalle_ingreso_id_materia_prima_foreign; Type: FK CONSTRAINT; Schema: public; Owner: dulce_bocado
--

ALTER TABLE ONLY public.detalle_ingreso
    ADD CONSTRAINT detalle_ingreso_id_materia_prima_foreign FOREIGN KEY (id_materia_prima) REFERENCES public.materia_prima(id_materia_prima) ON DELETE RESTRICT;


--
-- Name: detalle_ingreso detalle_ingreso_id_producto_presentacion_foreign; Type: FK CONSTRAINT; Schema: public; Owner: dulce_bocado
--

ALTER TABLE ONLY public.detalle_ingreso
    ADD CONSTRAINT detalle_ingreso_id_producto_presentacion_foreign FOREIGN KEY (id_producto_presentacion) REFERENCES public.producto_presentacion(id_producto_presentacion) ON DELETE RESTRICT;


--
-- Name: detalle_produccion detalle_produccion_id_almacen_foreign; Type: FK CONSTRAINT; Schema: public; Owner: dulce_bocado
--

ALTER TABLE ONLY public.detalle_produccion
    ADD CONSTRAINT detalle_produccion_id_almacen_foreign FOREIGN KEY (id_almacen) REFERENCES public.almacen(id_almacen) ON DELETE RESTRICT;


--
-- Name: detalle_produccion detalle_produccion_id_produccion_foreign; Type: FK CONSTRAINT; Schema: public; Owner: dulce_bocado
--

ALTER TABLE ONLY public.detalle_produccion
    ADD CONSTRAINT detalle_produccion_id_produccion_foreign FOREIGN KEY (id_produccion) REFERENCES public.produccion(id_produccion) ON DELETE CASCADE;


--
-- Name: egreso egreso_id_usuario_foreign; Type: FK CONSTRAINT; Schema: public; Owner: dulce_bocado
--

ALTER TABLE ONLY public.egreso
    ADD CONSTRAINT egreso_id_usuario_foreign FOREIGN KEY (id_usuario) REFERENCES public.usuarios(id_usuario) ON DELETE RESTRICT;


--
-- Name: consumo_produccion fk_consumo_produccion_almacen; Type: FK CONSTRAINT; Schema: public; Owner: dulce_bocado
--

ALTER TABLE ONLY public.consumo_produccion
    ADD CONSTRAINT fk_consumo_produccion_almacen FOREIGN KEY (id_almacen) REFERENCES public.almacen(id_almacen) ON DELETE RESTRICT;


--
-- Name: consumo_produccion fk_consumo_produccion_materia; Type: FK CONSTRAINT; Schema: public; Owner: dulce_bocado
--

ALTER TABLE ONLY public.consumo_produccion
    ADD CONSTRAINT fk_consumo_produccion_materia FOREIGN KEY (id_materia_prima) REFERENCES public.materia_prima(id_materia_prima) ON DELETE RESTRICT;


--
-- Name: consumo_produccion fk_consumo_produccion_produccion; Type: FK CONSTRAINT; Schema: public; Owner: dulce_bocado
--

ALTER TABLE ONLY public.consumo_produccion
    ADD CONSTRAINT fk_consumo_produccion_produccion FOREIGN KEY (id_produccion) REFERENCES public.produccion(id_produccion) ON DELETE CASCADE;


--
-- Name: consumo_produccion fk_consumo_produccion_usuario; Type: FK CONSTRAINT; Schema: public; Owner: dulce_bocado
--

ALTER TABLE ONLY public.consumo_produccion
    ADD CONSTRAINT fk_consumo_produccion_usuario FOREIGN KEY (id_usuario) REFERENCES public.usuarios(id_usuario) ON DELETE RESTRICT;


--
-- Name: detalle_pedido fk_detalle_pedido_pedido; Type: FK CONSTRAINT; Schema: public; Owner: dulce_bocado
--

ALTER TABLE ONLY public.detalle_pedido
    ADD CONSTRAINT fk_detalle_pedido_pedido FOREIGN KEY (id_pedido) REFERENCES public.pedido(id_pedido) ON DELETE CASCADE;


--
-- Name: detalle_pedido fk_detalle_pedido_producto_presentacion; Type: FK CONSTRAINT; Schema: public; Owner: dulce_bocado
--

ALTER TABLE ONLY public.detalle_pedido
    ADD CONSTRAINT fk_detalle_pedido_producto_presentacion FOREIGN KEY (id_producto_presentacion) REFERENCES public.producto_presentacion(id_producto_presentacion) ON DELETE RESTRICT;


--
-- Name: detalle_receta fk_detalle_receta_materia; Type: FK CONSTRAINT; Schema: public; Owner: dulce_bocado
--

ALTER TABLE ONLY public.detalle_receta
    ADD CONSTRAINT fk_detalle_receta_materia FOREIGN KEY (id_materia_prima) REFERENCES public.materia_prima(id_materia_prima) ON DELETE RESTRICT;


--
-- Name: detalle_receta fk_detalle_receta_receta; Type: FK CONSTRAINT; Schema: public; Owner: dulce_bocado
--

ALTER TABLE ONLY public.detalle_receta
    ADD CONSTRAINT fk_detalle_receta_receta FOREIGN KEY (id_receta) REFERENCES public.receta(id_receta) ON DELETE CASCADE;


--
-- Name: detalle_venta fk_detalle_venta_producto_presentacion; Type: FK CONSTRAINT; Schema: public; Owner: dulce_bocado
--

ALTER TABLE ONLY public.detalle_venta
    ADD CONSTRAINT fk_detalle_venta_producto_presentacion FOREIGN KEY (id_producto_presentacion) REFERENCES public.producto_presentacion(id_producto_presentacion) ON DELETE RESTRICT;


--
-- Name: detalle_venta fk_detalle_venta_venta; Type: FK CONSTRAINT; Schema: public; Owner: dulce_bocado
--

ALTER TABLE ONLY public.detalle_venta
    ADD CONSTRAINT fk_detalle_venta_venta FOREIGN KEY (id_venta) REFERENCES public.venta(id_venta) ON DELETE CASCADE;


--
-- Name: pago_internet fk_pago_internet_pago; Type: FK CONSTRAINT; Schema: public; Owner: dulce_bocado
--

ALTER TABLE ONLY public.pago_internet
    ADD CONSTRAINT fk_pago_internet_pago FOREIGN KEY (id_pago) REFERENCES public.pago(id_pago) ON DELETE RESTRICT;


--
-- Name: pago_internet fk_pago_internet_usuario; Type: FK CONSTRAINT; Schema: public; Owner: dulce_bocado
--

ALTER TABLE ONLY public.pago_internet
    ADD CONSTRAINT fk_pago_internet_usuario FOREIGN KEY (id_usuario) REFERENCES public.usuarios(id_usuario) ON DELETE RESTRICT;


--
-- Name: pago_internet fk_pago_internet_venta; Type: FK CONSTRAINT; Schema: public; Owner: dulce_bocado
--

ALTER TABLE ONLY public.pago_internet
    ADD CONSTRAINT fk_pago_internet_venta FOREIGN KEY (id_venta) REFERENCES public.venta(id_venta) ON DELETE RESTRICT;


--
-- Name: pago fk_pago_pedido; Type: FK CONSTRAINT; Schema: public; Owner: dulce_bocado
--

ALTER TABLE ONLY public.pago
    ADD CONSTRAINT fk_pago_pedido FOREIGN KEY (id_pedido) REFERENCES public.pedido(id_pedido) ON DELETE RESTRICT;


--
-- Name: pago fk_pago_usuario; Type: FK CONSTRAINT; Schema: public; Owner: dulce_bocado
--

ALTER TABLE ONLY public.pago
    ADD CONSTRAINT fk_pago_usuario FOREIGN KEY (id_usuario) REFERENCES public.usuarios(id_usuario) ON DELETE RESTRICT;


--
-- Name: pago fk_pago_usuario_anulacion; Type: FK CONSTRAINT; Schema: public; Owner: dulce_bocado
--

ALTER TABLE ONLY public.pago
    ADD CONSTRAINT fk_pago_usuario_anulacion FOREIGN KEY (id_usuario_anulacion) REFERENCES public.usuarios(id_usuario) ON DELETE RESTRICT;


--
-- Name: pago fk_pago_venta; Type: FK CONSTRAINT; Schema: public; Owner: dulce_bocado
--

ALTER TABLE ONLY public.pago
    ADD CONSTRAINT fk_pago_venta FOREIGN KEY (id_venta) REFERENCES public.venta(id_venta) ON DELETE RESTRICT;


--
-- Name: pedido fk_pedido_cliente; Type: FK CONSTRAINT; Schema: public; Owner: dulce_bocado
--

ALTER TABLE ONLY public.pedido
    ADD CONSTRAINT fk_pedido_cliente FOREIGN KEY (id_cliente) REFERENCES public.cliente(id_cliente) ON DELETE RESTRICT;


--
-- Name: pedido fk_pedido_usuario; Type: FK CONSTRAINT; Schema: public; Owner: dulce_bocado
--

ALTER TABLE ONLY public.pedido
    ADD CONSTRAINT fk_pedido_usuario FOREIGN KEY (id_usuario) REFERENCES public.usuarios(id_usuario) ON DELETE RESTRICT;


--
-- Name: pedido fk_pedido_usuario_cancelacion; Type: FK CONSTRAINT; Schema: public; Owner: dulce_bocado
--

ALTER TABLE ONLY public.pedido
    ADD CONSTRAINT fk_pedido_usuario_cancelacion FOREIGN KEY (id_usuario_cancelacion) REFERENCES public.usuarios(id_usuario) ON DELETE RESTRICT;


--
-- Name: pedido fk_pedido_usuario_entrega; Type: FK CONSTRAINT; Schema: public; Owner: dulce_bocado
--

ALTER TABLE ONLY public.pedido
    ADD CONSTRAINT fk_pedido_usuario_entrega FOREIGN KEY (id_usuario_entrega) REFERENCES public.usuarios(id_usuario) ON DELETE RESTRICT;


--
-- Name: receta fk_receta_producto_presentacion; Type: FK CONSTRAINT; Schema: public; Owner: dulce_bocado
--

ALTER TABLE ONLY public.receta
    ADD CONSTRAINT fk_receta_producto_presentacion FOREIGN KEY (id_producto_presentacion) REFERENCES public.producto_presentacion(id_producto_presentacion) ON DELETE RESTRICT;


--
-- Name: recibo fk_recibo_pago; Type: FK CONSTRAINT; Schema: public; Owner: dulce_bocado
--

ALTER TABLE ONLY public.recibo
    ADD CONSTRAINT fk_recibo_pago FOREIGN KEY (id_pago) REFERENCES public.pago(id_pago) ON DELETE RESTRICT;


--
-- Name: recibo fk_recibo_usuario_anulacion; Type: FK CONSTRAINT; Schema: public; Owner: dulce_bocado
--

ALTER TABLE ONLY public.recibo
    ADD CONSTRAINT fk_recibo_usuario_anulacion FOREIGN KEY (id_usuario_anulacion) REFERENCES public.usuarios(id_usuario) ON DELETE RESTRICT;


--
-- Name: recibo fk_recibo_usuario_emision; Type: FK CONSTRAINT; Schema: public; Owner: dulce_bocado
--

ALTER TABLE ONLY public.recibo
    ADD CONSTRAINT fk_recibo_usuario_emision FOREIGN KEY (id_usuario_emision) REFERENCES public.usuarios(id_usuario) ON DELETE RESTRICT;


--
-- Name: recibo fk_recibo_usuario_impresion; Type: FK CONSTRAINT; Schema: public; Owner: dulce_bocado
--

ALTER TABLE ONLY public.recibo
    ADD CONSTRAINT fk_recibo_usuario_impresion FOREIGN KEY (id_usuario_ultima_impresion) REFERENCES public.usuarios(id_usuario) ON DELETE RESTRICT;


--
-- Name: venta fk_venta_cliente; Type: FK CONSTRAINT; Schema: public; Owner: dulce_bocado
--

ALTER TABLE ONLY public.venta
    ADD CONSTRAINT fk_venta_cliente FOREIGN KEY (id_cliente) REFERENCES public.cliente(id_cliente) ON DELETE RESTRICT;


--
-- Name: venta fk_venta_usuario; Type: FK CONSTRAINT; Schema: public; Owner: dulce_bocado
--

ALTER TABLE ONLY public.venta
    ADD CONSTRAINT fk_venta_usuario FOREIGN KEY (id_usuario) REFERENCES public.usuarios(id_usuario) ON DELETE RESTRICT;


--
-- Name: venta fk_venta_usuario_anulacion; Type: FK CONSTRAINT; Schema: public; Owner: dulce_bocado
--

ALTER TABLE ONLY public.venta
    ADD CONSTRAINT fk_venta_usuario_anulacion FOREIGN KEY (id_usuario_anulacion) REFERENCES public.usuarios(id_usuario) ON DELETE RESTRICT;


--
-- Name: ingreso ingreso_id_usuario_foreign; Type: FK CONSTRAINT; Schema: public; Owner: dulce_bocado
--

ALTER TABLE ONLY public.ingreso
    ADD CONSTRAINT ingreso_id_usuario_foreign FOREIGN KEY (id_usuario) REFERENCES public.usuarios(id_usuario) ON DELETE RESTRICT;


--
-- Name: inventario inventario_id_almacen_foreign; Type: FK CONSTRAINT; Schema: public; Owner: dulce_bocado
--

ALTER TABLE ONLY public.inventario
    ADD CONSTRAINT inventario_id_almacen_foreign FOREIGN KEY (id_almacen) REFERENCES public.almacen(id_almacen) ON DELETE CASCADE;


--
-- Name: inventario inventario_id_materia_prima_foreign; Type: FK CONSTRAINT; Schema: public; Owner: dulce_bocado
--

ALTER TABLE ONLY public.inventario
    ADD CONSTRAINT inventario_id_materia_prima_foreign FOREIGN KEY (id_materia_prima) REFERENCES public.materia_prima(id_materia_prima) ON DELETE CASCADE;


--
-- Name: inventario inventario_id_producto_presentacion_foreign; Type: FK CONSTRAINT; Schema: public; Owner: dulce_bocado
--

ALTER TABLE ONLY public.inventario
    ADD CONSTRAINT inventario_id_producto_presentacion_foreign FOREIGN KEY (id_producto_presentacion) REFERENCES public.producto_presentacion(id_producto_presentacion) ON DELETE CASCADE;


--
-- Name: produccion produccion_id_producto_presentacion_foreign; Type: FK CONSTRAINT; Schema: public; Owner: dulce_bocado
--

ALTER TABLE ONLY public.produccion
    ADD CONSTRAINT produccion_id_producto_presentacion_foreign FOREIGN KEY (id_producto_presentacion) REFERENCES public.producto_presentacion(id_producto_presentacion) ON DELETE RESTRICT;


--
-- Name: produccion produccion_id_usuario_foreign; Type: FK CONSTRAINT; Schema: public; Owner: dulce_bocado
--

ALTER TABLE ONLY public.produccion
    ADD CONSTRAINT produccion_id_usuario_foreign FOREIGN KEY (id_usuario) REFERENCES public.usuarios(id_usuario) ON DELETE RESTRICT;


--
-- Name: producto producto_id_categoria_foreign; Type: FK CONSTRAINT; Schema: public; Owner: dulce_bocado
--

ALTER TABLE ONLY public.producto
    ADD CONSTRAINT producto_id_categoria_foreign FOREIGN KEY (id_categoria) REFERENCES public.categoria(id_categoria) ON DELETE RESTRICT;


--
-- Name: producto_presentacion producto_presentacion_id_presentacion_foreign; Type: FK CONSTRAINT; Schema: public; Owner: dulce_bocado
--

ALTER TABLE ONLY public.producto_presentacion
    ADD CONSTRAINT producto_presentacion_id_presentacion_foreign FOREIGN KEY (id_presentacion) REFERENCES public.presentacion(id_presentacion) ON DELETE RESTRICT;


--
-- Name: producto_presentacion producto_presentacion_id_producto_foreign; Type: FK CONSTRAINT; Schema: public; Owner: dulce_bocado
--

ALTER TABLE ONLY public.producto_presentacion
    ADD CONSTRAINT producto_presentacion_id_producto_foreign FOREIGN KEY (id_producto) REFERENCES public.producto(id_producto) ON DELETE CASCADE;


--
-- Name: rol_permiso rol_permiso_permiso_id_foreign; Type: FK CONSTRAINT; Schema: public; Owner: dulce_bocado
--

ALTER TABLE ONLY public.rol_permiso
    ADD CONSTRAINT rol_permiso_permiso_id_foreign FOREIGN KEY (permiso_id) REFERENCES public.permisos(id_permiso);


--
-- Name: rol_permiso rol_permiso_rol_id_foreign; Type: FK CONSTRAINT; Schema: public; Owner: dulce_bocado
--

ALTER TABLE ONLY public.rol_permiso
    ADD CONSTRAINT rol_permiso_rol_id_foreign FOREIGN KEY (rol_id) REFERENCES public.roles(id_rol);


--
-- Name: usuario_rol_permiso usuario_rol_permiso_rol_permiso_id_foreign; Type: FK CONSTRAINT; Schema: public; Owner: dulce_bocado
--

ALTER TABLE ONLY public.usuario_rol_permiso
    ADD CONSTRAINT usuario_rol_permiso_rol_permiso_id_foreign FOREIGN KEY (rol_permiso_id) REFERENCES public.rol_permiso(id_rol_permiso);


--
-- Name: usuario_rol_permiso usuario_rol_permiso_usuario_id_foreign; Type: FK CONSTRAINT; Schema: public; Owner: dulce_bocado
--

ALTER TABLE ONLY public.usuario_rol_permiso
    ADD CONSTRAINT usuario_rol_permiso_usuario_id_foreign FOREIGN KEY (usuario_id) REFERENCES public.usuarios(id_usuario);


--
-- PostgreSQL database dump complete
--

\unrestrict GlkWfCTKknjrA2asJz9lbJ4awLi3T69BzBkcIrpD8laG1d6JSYFvmkojIfBEgI3

